@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* colors */
  --default-text-color: #452103;
  --primary-color: #d53434;
}
