@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
}

:root {
  /* colors */
  --default-text-color: #452103;
  --primary-color: #d53434;
}

.kadwa {
  font-family: var(--font-kadwa);
}
