@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
}

:root {
  /* colors */
  --default-white: #fffdf8;
  --default-text-color: #452103;
  --primary-color: #d53434;
  --secondary-color: #99ba7d;
}

.kadwa {
  font-family: var(--font-kadwa);
}

.bebas-neue {
  font-family: var(--font-bebas-neue);
}
